# STM32Cube copied library and project folders
MDK-ARM/*
EWARM/*
# CrossWorks project files
!*/*.hzp
!*/*.hzs

Test/iSensor-SPI-Buffer-Test/bin/
Test/iSensor-SPI-Buffer-Test/obj/
*.user

*.vs/
Utilities/iSensorSPIBuffer/bin/
Utilities/iSensorSPIBuffer/obj/
Utilities/ExampleApp/bin/
Utilities/ExampleApp/obj/

*.suo

*.o
.mxproject

Debug/
Doxygen/